$linearGradient: linear-gradient(108deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
$blueGrayLightExtra: hsl(240, 78%, 98%);
$blueGrayLight: hsl(234, 14%, 74%);
$blueGray: hsl(233, 13%, 49%);
$blueGrayDark: hsl(232, 13%, 33%);

$fontSize: 0.938rem;